/* DARK SHADE WHITE = #f2f2f5
   LIGHT SHADE WHITE = #fcfcff*/
body{
    background-color: #f2f2f5;
    overflow-x: hidden;
}

main h1{
    font-weight: 500;
}

.pane{
    margin-top: 1rem;
    flex-wrap: wrap;
}

.pane .section-body{
    width: 100%;
    overflow-y: auto;
    height: auto;
    overflow: auto;
    background-color: #f2f2f5;
}

.pane .section-body .slider{
    width: auto;
    flex-wrap: wrap;
}

#item-container *{
    transition: all 0.5s ease;
}

.item{
    text-decoration: none;
    width: 14.6%;
    /* min-width: calc(90px + 1.8rem); */
    overflow: hidden;
    padding: 0.8rem 0.6rem;
    margin: 0.9rem 1%;
    box-shadow: 2px 2px 3px #dfdfe4;
    background-color: #fcfcff;
    border-radius: 5px;
    justify-content: space-between;
}

.item:hover{
    transform: scale(1.03) !important;
}

.item *{
    width: 100%;
}

.item .item-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 12vmax;
    max-height: 205px;
    min-height: 100px;
}

.item .item-img [class^="icofont-"]{
    width: auto;
    font-size: 8rem;
    color: rgb(182, 52, 4);
    background-color: rgba(0, 0, 0, 0.07);
    padding: 0.5rem;
    border-radius: 50%;
}

.item .item-description{
    padding: 0 2%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.item .item-description > *{
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    /* font-weight: bold; */
}

.dummy.item .item-img, .dummy.item .item-description{
    background-color: #ccc;
    animation: lazy-loading 1.1s ease-out 0s infinite normal forwards;
    padding: 0.9rem 2rem;
}

.dummy.item .item-img{
    width: 60%;
}

.dummy.item .item-description{
    margin: 1rem auto 0;
    width: 80%;
}

@media only screen and (max-width:800px){
    .section-bottom > *:first-child, .section-bottom > *:last-child{
        display: none;
    }

    header #search-form{
        width: 95vw;
    }

    #slideshow{
        height: 50vh;
    }

    .pane .item{
        width: 44%;
        margin: 0.9rem;
        padding: 0.8rem 0.6rem;
    }

    .item .item-img [class^="icofont-"]{
        font-size: 5rem;
    }
}