body{
    background-color: #fcfcff;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    width: 85%;
    margin: 2rem auto 0 auto;
}


.control-head{
    padding: 1rem;
    padding-top: 0;
}

.navigation{
    display: flex;
    flex-direction: column;
    background-color: #f2f1f0;
    min-width: 180px;
}

.navigation *{
    font-size: 1.5rem;
    text-decoration: none;
    color: #777;
}

.navigation .nav-child{
    padding: 1.4rem 2rem;
    text-align: left;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    /* border-bottom: 1px solid red; */
}

.nav-child:hover+.drop-extra, .drop-extra:hover{
    opacity: 1;
    margin-top: 0;
    margin-bottom: 1em;
}

.nav-child:hover+.drop-extra > *, .drop-extra:hover > *{
    padding: 1rem;
    height: auto;
}

.drop-extra{
    display: flex;
    opacity: 0;
    margin: 0;
    flex-direction: column;
    -webkit-transition: margin 0.3s linear;
    transition: margin 0.3s linear;
}

.drop-extra > *{
    list-style-type: none;
    background-color: #ffb01e;
    height: 0;
    padding: 0;
    padding-left: 1rem;
    margin: 0;
    color: #fff;
    -webkit-transition: height, padding 0.3s ease;
    transition: height, padding 0.3s ease;
}

.navigation .nav-child:hover, .drop-extra > *:hover{
    border: 2px solid #999;
    color: #444;
    background-color: transparent;
    font-size: 1.7rem;
}

.active, .active > *{
    background-color: transparent;
    /* border: 2px solid orangered; */
    color: rgb(226, 62, 2);
    font-size: 1.7rem;
}

.control-body{
    background-color: #fcfcff;
    margin-left: 1.5rem;
}


.control-body .header{
    margin: 0;
    color: #f4f3f2;
    background-image: linear-gradient(135deg, rgb(194, 31, 2), rgb(226, 62, 2));
    background-color: rgb(226, 62, 2);
    padding: 1rem 2rem;
    height: auto;
}

.control-body h2, .control-body h5{
    font-weight: lighter;
    margin-bottom: auto; 
}

.control-body h2{
    margin-top: 1.2rem ;
    font-size: 3rem;
}

.control-body h5{
    margin-top: 0.8rem;
    font-size: 1.2rem;
}

.control-body .body{
    /* height: 50vmin; */
    min-height: 50vmin;
    overflow-y: auto;
}

.control-body .body > *{
    display: none;
    height: 100%;
    min-height: 49vmin;
    padding: 1rem 0;
}

.control-body #post-box{
    font-size: 1.2rem;
}

#post-box input:not([type="submit"]), #post-box textarea{
    /* width: 100%; */
    border: none;
    padding: 1.5rem 2rem;
    /* margin: 0.9rem 0 2.5rem 0; */
    background-color: #efefef;
}

#post-box input[type="submit"]{
    width: auto;
    border: none;
    background-color: rgb(240, 68, 6);
    color: #fcfcff;
    padding: 1.5rem 2rem;
    margin: 1.5rem 0 0.9rem 0;
    box-shadow: 1px 1px 2px rgba(185, 91, 3, 0.637);
}

#post-box form > label, #post-box .label{
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

#post-box .gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px dashed #777;
    padding: 1.5rem 1rem;
    width: 100%;
    overflow-x: auto;
    margin: 0.5rem 0 0rem 0;
}

#post-box .gallery label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    min-width: 9rem;
    height: 12rem;
    color: #777;
    font-weight: bold;
    padding: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #ddd;
}

#post-box .gallery input[type="file"]{
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    z-index: -5;
}

#post-box #option-box{
    padding: 1rem 0.2rem;
    flex-wrap: wrap;
    border: 1px solid #bbb;
}

#post-box #option-box input[type="checkbox"]{
    margin-left: 2rem;
    margin-right: 0.7rem;
    /* background-color: ; */
}

.control-body .item{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 13.5rem;
    border: 1px solid #ddd;
    margin: 1rem 1rem;
}

.control-body .item img{
    padding: 0.1rem;
    width: 13.5rem;
    height: 100%;
    object-fit: contain;
    background-color: #eee;
}

.control-body .item div.info{
    position: relative;
    padding: 0.5rem 1rem;
    width: 100%;
}

.item div.info .top{
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
}

.item .top > *{

}

.item .top .item-brand{
    text-transform: capitalize;
    font-size: 1.1rem;
    padding: 0.3rem 1rem;
    background-color: #ddd;
    color: #888;
}

.item .top button{
    padding: 0.5rem;
    font-size: 1.3rem;
}

.control-body .item .item-name{
    font-weight: bold;
    text-align: left;
    font-size: 1.5rem;
    /* width: 50%; */
    padding-top: 0.3rem;
}

.control-body .item .item-price{
    padding-top: 0.3rem;
    font-size: 1.2rem;
    color: #444;
}

.control-body .item .item-controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 1rem;
}

.item .item-controls button{
    /* background-image: linear-gradient(135deg, darkred 60%, rgb(143, 34, 34) 60%); */
    background-color: rgb(255, 153, 0);
    color: white;
    text-transform: capitalize;
    /* width: 3rem;
    height: 3rem; */
    border: none;
    overflow: hidden;
    border-radius: 3px;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding: 1rem 3rem;  
}

#store-box{
    /* display: flex; */
    /* flex-direction: row; */
    flex-wrap: wrap;
}

#store-box .store-item{

    width: 48%;
    height: 200px;
    /* border: 2px solid green; */
    margin: 0.8rem 1%;
}

#store-box .store-item > *{
    position: relative;
    height: auto;
    /* border: 2px solid green; */
}

.store-item img{
    width: 45%;
    height: 100%;
    object-fit: fill;
}

.store-item div.info{
    display: inline-block;
    padding: 0.8rem 1.5rem;
    width: 54%;
    vertical-align: top;
    height: 100%;
}

.store-item .item-name{
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
}

.dummy.item{
    position: relative;
}

.dummy.item img, .dummy.item .item-name, .dummy.item .item-number > *, .dummy.item .item-buttons > *{
    background-color: #ccc;
    animation: lazy-loading 1.1s ease-out 0s infinite normal forwards;
    background-position: 50%;
    background-repeat: no-repeat;
}

.dummy.item .item-name, .dummy.item .item-number > *, .dummy.item .item-buttons > *{
    padding: 0.6rem;
}

.dummy.item img{
    width: 10vmin;
    padding: 0;
}

.dummy.item .item-name{
    width: 40%;
}

.dummy.item .item-number > *{
    height: 30%;
    margin: 0.6rem 0;
}

.dummy.item .item-buttons{
    width: 20%;
    margin: auto;
    margin-top: 0;
}

.dummy.item .item-buttons > *{
    width: 85%;
    padding: 1.4rem;
    margin-left: 0.6rem;
    border-radius: 5vmin
}

.dummy.item .item-number, .dummy.item .item-name{
    margin: auto;
}

.dummy.item .item-name{
    margin-top: 0.6rem;
    height: 25%;
}

.vendor-bg-cover{
    z-index: +200;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.459);
    top: -120vh;
    left: 0;
    transition: all 0.6s ease;
}

.vendor-notify-box{
    width: 50vw;
    height: 80vmin;
    padding: 4rem;
    transform: translate(50%, 12%);
    background-color: #fcfcff;
    text-transform: uppercase;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.vendor-notify-box *{
    position: relative;
}

.vendor-notify-box .body-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    transform: translateY(20%);
    width: 80%;
}

.vendor-notify-box .vendor-brief-text, .vendor-brief-text + ul li{
    color: #666;
    font-size: 1.2rem;
    text-transform: none;
}

.vendor-brief-text + ul{
    list-style-type: none;
    margin: 0.5rem;
    width: 85%;
}
.vendor-brief-text + ul li{
    padding: 0;
    margin-bottom: 1.3rem;
}

.vendor-brief-text + ul li::before{
    /* font-size: 12px; */
    font-weight: bold;
    content: "\eed6";
    color: dodgerblue;
    margin-right: 1rem;
    /* position: absolute; */
}

.vendor-notify-box .vendor-apply-btn{
    display: block;
    text-transform: capitalize;
    text-align: center;
    padding: 1.2rem 3.6rem;
    border-radius: 3px;
    background-color: #10df10;
    font-size: 1.5rem;
    color: #fff;
    min-width: 100px;
    max-width: 300px;
    margin: auto;
    margin-top: 1rem;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
}

.vendor-apply-btn.no{
    border: 2px solid #10df10;
    color: #10df10;
    background-color: transparent;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width:800px){
    body{
        background-color: #f0f0f3;
    }

    main{
        flex-direction: column;
        margin: 0;
        width: auto;
        margin-top: 1rem;
    }

    .control-head{
        padding: 0;
        margin-bottom: 0;
        box-shadow: none;
    }
    
    .navigation{
        width: 100%;
        flex-direction: row;
        justify-content: unset;
        background-color: transparent;
        padding: 0;
    }
    
    .navigation > *{
        border-radius: 0.5rem 0.5rem 0 0;
        background-color: #fafafd;
        cursor: pointer;
        font-size: 1.3rem;
        margin-right: 0.2rem;
    }

    .navigation .nav-child{
        text-align: center;
        padding: 1rem 0;
        width: 100%;
    }
    
    .navigation > *:hover{
        background-color: transparent;
    }

/*  */
    .nav-child:hover+.drop-extra, .drop-extra:hover{
        opacity: 0;
    }

    .nav-child+.drop-extra > *, .nav-child:hover+.drop-extra > *{
        padding: 0; 
    }

    .nav-child:hover+.drop-extra > *, .drop-extra:hover > *{
        height: 0;
    }
/*  */

    .navigation .nav-child:hover, .drop-extra > *:hover{
        border: none;
        color: #444;;
        background-color: transparent;
        font-size: 1.3rem;
        transform: scale(1.1);
    }
    
    .active, .active > *{
        color: #f4f3f2;
        background-color: rgb(226, 62, 2);
    }


    .control-body{
        margin-left: 0;
    }

    .control-body h2{
        margin-top: 1.3rem;
    }
    
    .control-body h5{
        margin-top: 1rem;
    }

    .control-body .header{
        background-image: none;
        background-color: rgb(226, 62, 2);
    }

    .control-body .body > *{
        padding: 1rem;
    }

    .control-body .item{
        width: 100%;
        height: 20%;
        margin: 1rem 0;
        border: none;
    }

    .control-body .item img{
        width: 20%;
    }

    .control-body .item .item-name{
        width: 40%;
        padding: 1rem;
        text-align: left;
        font-size: 1.35rem;
    }

    .control-body .item .item-number{
        min-width: 10%;
        margin-left: auto;
        margin-right: 1rem;
        /* border: 1px solid palevioletred; */
    }

    .item .item-number > *{
        font-weight: normal;
    }

    .item .item-buttons{
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0.5rem 0.2rem;
    }
    
    .item .item-buttons button{
        border: none;
        overflow: hidden;
        border-radius: 15%;
        margin-top: 0.15rem;
        margin-bottom: 0.15rem;
        padding: 0.5rem;  
    }

    .dummy.item .item-buttons > *{
        padding: 1.0rem;
        height: 30%;
        margin: 0 0 0.6rem 0;
    }

    .vendor-notify-box{
        /* display: flex; */
        width: 80vw;
        /* height: auto; */
        min-height: 80vh;
        overflow: auto;
        padding: 2rem;
        margin: 0;
        transform: translate(12%, 12%);
    }

    .vendor-notify-box .body-box{
        margin: auto;
        transform: translateY(10%);
        width: 90%;
    }

    .vendor-brief-text + ul{
        width: 95%;
    }
}

@media only screen and (min-width: 650px) and (max-width: 920px){
    .vendor-notify-box .body-box{
        transform: translateY(15%);
    }
}