/* DARK SHADE WHITE = #f2f2f5
   LIGHT SHADE WHITE = #fcfcff*/

body{
    background-color: #f2f2f5;
    overflow-x: hidden;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< MAIN >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#slideshow{
    /* border: none; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    border-radius: 0.5rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-image: url("../assets/ads/0a9c147c668744d0afcb9d320afa0b73.jpg");
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

#slideshow .button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
}

#slideshow button{
    background-color: rgba(242, 242, 245, 0.699);
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
}

.pane{
    padding: 0.5rem;
    margin-top: 1rem;
}

.pane .item{
    width: 20%;
    min-width: calc(90px + 1.8rem);
    overflow: hidden;
    padding: 0.8rem 0.6rem;
    margin: 0.5rem;
    box-shadow: 2px 2px 3px #dfdfe4;
    background-color: #fcfcff;
    justify-content: space-between;
}

.pane .item *{
    width: 100%;
}

.pane .item img, .pane .item .item-img{
    display: block;
    height: 100%;
    margin: 0 auto;
}

.pane .item img{
    background-color: #ccc;
    width: 14vmax;
    height: 16vmax;
    max-width: 180px;
    max-height: 205px;
    min-width: 90px;
    min-height: 104px;
    object-fit: cover;
}

.pane .item .item-description{
    padding: 0 2%;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.item .item-price{
    /* display: inline; */
    font-weight: bold;
    font-size: 1.3rem;
    /* text-align: right; */
}

.pane .item .item-description > *{
    margin-top: 1.5rem;
}

.pane .section-head{
    padding: 0 1rem;
    justify-content: space-between;
}

.pane .section-head > *:last-child{
    margin: auto 0;
}

.pane .section-body{
    width: 100%;
    overflow-y: auto;
    height: auto;
    overflow: auto;
    background-color: #f2f2f5;
}

.pane .section-body .slider{
    width: auto;
    flex-wrap: wrap;
}



@media only screen and (max-width:800px){
    .section-bottom > *:first-child, .section-bottom > *:last-child{
        display: none;
    }

    header #search-form{
        width: 95vw;
    }

    #slideshow{
        height: 50vh;
    }

    .pane .item{
        width: 46%;
        padding: 0.8rem 0.6rem;
    }

    .pane .section-body .slider{
        justify-content: space-between;
    }
}