body{
    background-color: #000;
    overflow-x: hidden;
}

main{
    width: 100%;
    height: 85vh;
    min-height: 500px;
    justify-content: center;
    align-items: center;
}

main > *{
    color: #888;
}

main h1{
    color: white;
    text-shadow: 3px 2px 1px #999;
    text-transform: uppercase;
    font-size: 4.5rem;
    margin: 0;
}

main h1 [class^="icofont-"]{
    display: inline-block;
    transform-origin: center;
    animation: working 3s linear 1s infinite normal backwards;
}

main p{
    font-weight: bold;
    margin-top: 2rem;
    font-size: 1.5rem;
}

@media only screen and (max-width:800px){
    
    main > *{
        max-width: 80%;
    }
    
    main h1{
        text-shadow: 2px 2px 1px #999;
        font-size: 4rem;
    }
    
    main p{
        color: #676767;
        line-height: 1.5;
        font-weight: 500;
    }
}

@keyframes working{
    0%{
        transform: rotateZ(0deg);
    }

    15%{
        transform: rotateZ(20deg);
    }

    25%{
        transform: rotateZ(0deg);
    }

    35%{
        transform: rotateZ(20deg);
    }

    45%{
        transform: rotateZ(0deg);
    }

    /* 85%{

    } */
    70%{
        transform: rotateZ(0deg);
    }

    80%{
        transform: rotateZ(-20deg);
    }

    90%{
        transform: rotateZ(0deg);
    }

    100%{
        transform: rotateZ(-20deg);
    }
}