/* DARK SHADE WHITE = #f2f2f5
   LIGHT SHADE WHITE = #fcfcff*/

body{
    background-color: #f2f2f5;
    overflow-x: hidden;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< MAIN >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#banner{
    /* border: none; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    border-radius: 0.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../assets/ads/0a9c147c668744d0afcb9d320afa0b73.jpg");
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

#banner .button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
}

#banner button{
    background-color: rgba(242, 242, 245, 0.699);
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
}

marquee{
    position: sticky;
    top: 0;
    font-size: 1.8vmin;
    margin-top: 1rem;
    padding: 0.8rem;
    color: white;
    border-top: 1px solid rgb(184, 49, 0);
    border-bottom: 1px solid rgb(184, 49, 0);
    background-color: rgb(164, 10, 10);
}

.pane{
    padding: 0.5rem;
    margin-top: 1rem;
}

.pane .item{
    width: calc((100% - 5rem)/5);
    min-width: calc(90px + 1.8rem);
    overflow: hidden;
    padding: 0.8rem 0.6rem;
    margin: 0.5rem;
    box-shadow: 2px 2px 3px #dfdfe4;
    background-color: rgb(252, 252, 255);
    justify-content: space-between;
}

.pane .item *{
    width: 100%;
    color: black;
}

.pane .dummy.item img, .pane .dummy.item .item-description *{
    background-color: #ccc;
    /* background-image: url("../assets/images/Loading_icon.gif"); */
    animation: lazy-loading 1.1s ease-out 0s infinite normal forwards;
    background-position: 50%;
    background-repeat: no-repeat;
}

.pane .dummy.item .item-description >*{
    padding: 0.6rem;
    margin-top: 0.6rem;
}

.pane .item img, .pane .item .item-img{
    display: block;
    height: 100%;
    margin: 0 auto;
}

.pane .item img{
    margin-top: 0.5rem;
    background-color: #ccc;
    width: 14vmax;
    height: 16vmax;
    max-width: 180px;
    max-height: 205px;
    min-width: 90px;
    min-height: 180px;
    object-fit: cover;
}

.pane .item .item-description{
    padding: 0 3%;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.item .item-price{
    /* display: inline; */
    font-weight: bold;
    font-size: 1.3rem;
    /* text-align: right; */
}

.item-price sup{
    color: #777;
    margin-left: 0.4rem;
    text-decoration: line-through;
}

.pane .item .item-description > *{
    margin-top: 1.5rem;
}

.pane .section-head{
    padding: 0 1rem;
    justify-content: space-between;
}

.pane .section-head h3{
    /* font-weight: 500; */
    color: #111;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.pane .section-head > *:last-child{
    margin: auto 0;
}

.pane .section-body{
    width: 100%;
    overflow-y: auto;
    height: auto;
    overflow: auto;
    background-color: #f2f2f5;
}

.pane .section-body .slider{
    width: auto;
    flex-wrap: wrap;
}


@media only screen and (max-width:800px){
    .section-bottom > *:first-child, .section-bottom > *:last-child{
        display: none;
    }

    header #search-form{
        width: 95vw;
    }

    #banner{
        height: 50vh;
    }

    .pane .section-head h3{
        font-size: 1.3rem;
    }

    .pane .item{
        width: 46%;
        padding: 0.8rem 0.6rem;
    }

    .pane .item img{
        max-width: 180px;
        width: 90%;
        max-height: 205px;
        min-width: 78%;
        min-height: 180px;
        object-fit: cover;
    }

    .item .item-price{
        font-size: 1.2rem;
        /* text-align: right; */
    }

    .pane .item .item-description{
        margin-top: 0.6rem;
    }

    .pane .item .item-description > *{
        margin-top: 1rem;
    }

    .pane .section-body .slider{
        justify-content: space-between;
    }
    
}