header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5rem 1rem;
    box-shadow: 1px 1px 2px #e0e0e5;
    background-color: #fcfcff;
}

header [class*="section"]{
    padding: 0.4rem 0;
    width: 100%;
}

header [class*="section"] *{
    vertical-align: middle;
}

header #logo{
    max-height: 2.5rem;
}

header .section-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.drop-button{
    color: orangered;
}

.drop-content{
    margin-top: 1.2rem;
    display: none;
    flex-direction: row;
    font-size: 1.2rem;
    padding: 0.85em;
    left: 0;
    width: 100%;
    z-index: +10;
    position: absolute;
    background-color: #fcfcff;
    box-shadow: 1px 1px 2px #e5e5ea;
}

.drop-content > *:last-child{
    border: none;
    background-color: rgb(240, 68, 6);
    border-radius: 5px;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 3px #e0e0e5;
}

.drop-content > *:last-child *{
    color: #fcfcff;
}

.drop-container:hover{
    cursor: pointer;
}

.drop-container:hover .drop-content{
    display: flex;
}

#search-form button[type="submit"], [class*="section"] [class^="icofont-"]{
    font-size: 18px;
    color: orangered;
}

#sidemenu {
    z-index: +999;
    position: fixed;
    top: 0;
    margin-left: -150%; 
    /* width: 30vw; */
    height: 100vh;
    min-width: 25rem;
    min-height: 40rem;
    background-color: #fcfcff;
    box-shadow: 1px 1px 2px #ccccc8;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

#sidemenu nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem auto 3rem auto;
    width: calc(100% - 3rem)
}

#sidemenu nav#controls{
    display: none;
    margin: 1rem auto 2rem auto;
}

#sidemenu .user-picture{
    width: calc(2rem + 18px);
    height: calc(2rem + 18px);
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
    margin: auto 1rem auto 0;
    box-shadow: 2px 2px 3px #e0e0e5;
    border: 1px solid rgb(90, 49, 49);
    background-color: #ccc;
}

#sidemenu nav button{
    border: none;
    vertical-align: middle;
    background-color: rgb(240, 68, 6);
    border-radius: 5px;
    padding: 1rem 1.5rem;
    color: #fcfcff;
    box-shadow: 2px 2px 3px #e0e0e5;
}

#sidemenu a:link, #sidemenu a:visited{
    color: #3f3333;
}

#sidemenu a:hover{
    color: tomato;
}

#sidemenu ul, #sidemenu a:link{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

#sidemenu li{
    font-size: 15px;
    padding: 0 2rem 0.5rem 1.5rem;
    margin: 2rem 0;
    border-bottom: 1px solid rgba(122, 33, 0, 0.1); 
}

#sidemenu .panel{
    width: 100%;
    flex-wrap: wrap;
    justify-content: unset;
    margin-top: 0.5rem; 
}

#sidemenu .panel *{
    text-decoration: none;
    align-items: center;
}

#sidemenu .panel .panel-pad{
    align-items: center;
    /* border-radius: 2px;  */
    width: 40%;
    margin: 1rem 5%;
    padding: 0.2rem;
    box-shadow: 1px 1px 3px #c1c1c7;
}

#sidemenu .pad-img{
    font-size: 3rem;
    padding: 1.5rem 0.5rem;
}

#sidemenu .pad-txt{
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
}

#sidemenu .side-links .head{
    font-size: 1.4rem;
    padding: 0.8rem;
    font-weight: bold;
    width: 100%;
    /* background-color: #f9f9fa; */
}

#sidemenu .side-links:nth-child(2){
    display: none;
}

@media only screen and (max-width:800px){
    #sidemenu {
        overflow: auto;
    }
    
    #sidemenu li{
        font-size: 14px;
        padding: 0 2rem 0.5rem 1.5rem;
        margin: 1.8rem 0;
    }

    #sidemenu .side-links:nth-child(2){
        display: flex;
    }

    #sidemenu .side-links .head{
        font-size: 1.25rem;
        padding: 0.8rem 0.8rem;
    }
}