*{
    position: relative;
    box-sizing: border-box;
}

header{
    overflow: hidden;
}

main{
    justify-content: center;
    align-items: center;
    padding: 0; margin: 0; width: 100%;
    min-height: calc(100vh - 4.3rem);
    background-color: rgb(252, 116, 5);
}

.intro{
    opacity: 0;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    font-size: 3rem;
    color: white;
}

.login, .login *{
    /* opacity: 0; */
    justify-content: center;
}

.login{
    width: 50vmin;
    min-width: 280px;
    max-width: 400px;
    border-radius: 10px;
    background-color: white;
    padding: 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.181);
}

.login .login-avatar{
    display: block;
    height: 3rem;
    margin: 1.8rem auto;
}

.login input[type="text"], .login input[type="password"]{
    width: 100%;
    padding: 1.5rem 3.5rem;
    border: none;
    background-color: #eee;
    margin: 1rem auto;
}

.login input[type="submit"]{
    min-width: 20rem;
    color: white;
    border-radius: 5px;
    padding: 1.5rem 4.5rem;
    border: none;
    margin: 1.5rem auto 1rem;
    background-color: orangered;
}

main .login-extra{
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

main .login-extra a{
    color: white;
}

main .exp-container{
    display: block;
    width: 40%;
    opacity: 0;
    position: absolute;
    left: 55vw;
    font-size: 2rem;
    margin-right: 10rem;
}

main .exp-container .exp-text{
    display: block;
}

@media only screen and (max-width:800px){
    .login{
        margin-top: 10rem;
        position: relative !important;
    }

    main .login-extra a{
        font-weight: 500;
    }

    main .exp-container{
        opacity: 0;
        width: 80%;
        position: relative;
        left: unset;
        transform: none !important;
        font-size: 1.5rem;
        margin: 1rem auto;
    }
}