*{
    box-sizing: border-box;
    line-height: 1.5;
}

header{
    /* box-shadow: none; */
    box-shadow: 1px 1px 1px rgba(224, 224, 229, 0.5);
}

main{
    padding: 0;
}

main p{
    margin-bottom: 0;
    font-size: 1.5rem;
}

main h1{
    font-weight: 400;
    font-size: 2.35rem;
    margin-top: 0;
    margin-bottom: 0.8rem;
}

main .subtitle{
    line-height: 1.3;
    font-size: 1.5rem;
    color: #7a7a7a;
}

main h2.section-topic{
    margin: 3rem 0 2rem;
    font-weight: 400;
    font-size: 2.3rem;
}

main .section-wrap{
    padding-left: 3vmax;
    padding-right: 3vmax;
}

.purple-text{
    color: #663172;
}

.blue-text{
    color: #398fe0;
}

.purple{
    background-color: #663172;
}

.blue{
    background-color: #398fe0;
}

.intro-pane{
	padding: 1.5rem 2rem;
    width: 100%;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.13);
}

.section-wrap > h2, .section-wrap > p{
	padding-left: 0;
	padding-right: 0;
}

.section-pane, .section-pane .pane-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    color: #fff;
}

.section-pane{
    margin-top: 2rem;
    padding: 2rem 3%;
}

.section-pane .pane-container{
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-around;
}

.section-pane .pane-item{
    color: #111;
    width: 31.33%;
    height: auto;
    margin: 1rem 2% 1rem 0;
    padding: 2rem;
    background-color: #fafafd;
    border-radius: 3px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
}

.pane-item > div:first-child{
    text-transform: capitalize;
    font-size: 2rem;
    color: #cc2500;
}

.pane-item > div:nth-child(2){
    font-size: medium;
    margin: 1rem 0 2rem;
}

.pane-item > div:last-child{
    margin: auto 0 1rem;
    width: 100%;
}

.pane-item button{
    /* width: 30%; */
    text-transform: uppercase;
    padding: 0.8rem 2.4rem;
    border: 1px solid #ff4500;
    border-radius: 5px;
    color: #fff;
    font-size: 1.15rem;
    background-color: #ff4500;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);*/
}

@media only screen and (max-width:800px){

	main h1{
		font-size: 2.2rem;
	}
	
	main p{
		font-size: 1.4rem;
	}
	
	main .subtitle{
		font-size: 1.4rem;
		color: #777;
    }
    
    main .section-wrap{
        padding-left: 0;
        padding-right: 0;
    }

    .section-wrap > h2, .section-wrap > p{
        padding-left: 2rem;
        padding-right: 2rem;
    }
	
    .section-pane, .section-pane .pane-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        color: #fff;
    }
    
    .section-pane{
        margin-top: 2rem;
        padding: 1rem 2.8rem;
    }
    
    .section-pane .pane-container{
        flex-direction: column;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin: auto;
    }
    
    .section-pane .pane-item{
    	width: 100%;
    	min-height: 30vh;
    	margin: 1rem 2% 1rem 0;
    	padding: 2rem;
    	border-radius: 5px;
    }
    
    .pane-item div:first-child{
    	font-size: 2.5rem;
    }
    
    .pane-item div:nth-child(2){
    	font-size: 1.3rem;
    }
}