/* DARK SHADE WHITE = #f2f2f5
   LIGHT SHADE WHITE = #fcfcff*/

body{
    background-color: #f2f2f5;
    overflow-x: hidden;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< MAIN >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

main{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 0;
    padding: 0;
    box-shadow: 1px 1px 3px rgba(224, 224, 229, 0.87);
    background-color: #f8f8fa;
}

.name-header{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: baseline;
    margin: 0;
    /* background-image: linear-gradient(135deg, rgb(194, 31, 2), rgb(226, 62, 2)); */
    background-color: rgb(194, 31, 2);
    padding: 1.8rem 3rem;
    height: auto;
}

.name-header .icofont-navigation-menu{
    padding: 0.8rem;
    color: #f4f3f2;
}

.name-header > *:first-child{
    display: none;
    margin: 1.2rem 1.7rem auto 0;
    border: 2px solid #eeedec;
}

.name-header *:last-child{
    margin-left: auto;
}

.name-header h2, .name-header h5{
    font-weight: lighter;
    margin-bottom: auto; 
}

.name-header h2{
    font-weight: normal;
    color: #f4f3f2;
    margin-top: 1.0rem ;
    font-size: 2.5rem;
}

.name-header h5{
    color: #eaeaea;
    margin-top: 0.5rem;
    font-size: 1.3rem;
}

.name-header .btn-logout{
    border: 1px solid #dfdfdf;
    color: #dfdfdf;
}

.main-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    background-color: #fcfcff;
}

.main-body *{
    box-sizing: border-box;
}

.main-body .control-head{
    padding: 1rem;
    padding-top: 0;
    width: 20%;
}

.main-body .control-body{
    padding: 1rem;
    padding-top: 0;
    width: 78%;
    /* border: 1px solid red; */
}

.control-head .navigation{
    display: flex;
    flex-direction: column;
    background-color: #f2f1f0;
    /* min-width: 180px; */
}

.control-head .navigation > *{
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    text-align: left;
    cursor: pointer;
    color: #777;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.control-head .navigation > *:hover{
    background-color: transparent;
    border: 2px solid #444;
    color: black;
    font-size: 1.7rem;
}

#profile-section .container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    padding: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    border-radius: 5px;
    /* border-radius: 15vh 0 0 15vh; */
    background-image: linear-gradient(135deg, rgba(40, 0, 0, 0.1) 10%, rgba(0, 0, 40, 0.9) 60%), url("../assets/images/images (5).jpeg");
}

#profile-section [data-display-name]{
    /* font-weight: 525; */
    color: #eee;
    font-size: 2.5rem;
}

#profile-section [data-user-status]{
    color: #ff4911;
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 0px 1px 2px #6d1a01;
}

#profile-section .container img{
    border-radius: 50%;
    min-width: 80px;
    min-height: 80px;
    width: 19vmin;
    height: 19vmin;
    object-fit: contain;
    background-color: #ccc;
    border: 0.4rem solid #fafafa;
    overflow: hidden;
    /* box-shadow: 0px 2px 3px #888; */

}

#profile-section .container > *{
    margin-right: 2%;
}

#profile-section .container > :nth-child(2){
    text-align: left;
    font-size: 1.2rem;
    padding-left: 1rem;
    border-left: 3px solid rgb(219, 113, 74);
    height: 100%;
    color: #ccc;
}

#profile-section .container > :nth-child(2) > *{
    margin-bottom: 1rem;
}

#profile-section .edit-btn{
    margin-left: 8%;
    margin-top: 1rem;
    border-radius: 3px;
    background-color: rgb(7, 131, 255);
    color: #fefefe;
    font-size: 1.1em;
    box-shadow: 2px 2px 3px rgb(0, 0, 0);
}
/* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */


/* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */

main #profile-form{
    width: auto;
    display:flex;
    flex-direction: column;
    margin: 3rem auto 0.2rem auto;
    border-radius: 5px;
    opacity: 0;
    height: 0;
    transition: all 1s ease;
}

#profile-form *{
    box-sizing: border-box;
}

#profile-form input:not([type="submit"]), #profile-form select{
    width: 100%;
    border: none;
    padding: 1.5rem 2rem;
    margin: 0.9rem 0 2.5rem 0;
    background-color: #efefef;
}

#profile-form select{
    padding: 1.4rem 0.8rem;
}

#profile-form input[type="submit"]{
    width: 100%;
    border: none;
    background-color: rgb(240, 68, 6);
    color: #fcfcff;
    padding: 1.5rem 2rem;
    margin: 0.5rem 0 0.9rem 0;
    box-shadow: 1px 1px 2px rgba(185, 91, 3, 0.637);
}

#profile-form input[type="submit"]:disabled{
    opacity: 0.5;
    background-color: gray;
    color: black;
}

#profile-form label{
    color: rgb(202, 55, 1);
    font-size: 14px;
}

#wallet-section{
    margin-bottom: 2rem;
}

#wallet-section h3{
    color: #555;
    font-size: small;
    padding: 1.5rem 1.5rem;
    background-color: #f0f0f0;
}

#wallet-section > *{
    width: 100%;
}

#wallet-section .wallet-div .balance{
    font-size: small;
    color: #b14405;
    justify-content: space-between;
}

#wallet-section .trans-container{
    padding: 1rem;
    margin: 0.2rem auto;
    width: 100%;
}

#wallet-section #no-trans{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    text-align: center;
    color: #bbb;
}

@keyframes pan{
    0%{
        box-shadow: 0 0 1rem 8px rgba(255, 68, 0, 0.67);
    }

    100%{
        box-shadow: 0 0 1rem 6px rgba(255, 68, 0, 0.67);
    }
}

@media only screen and (max-width:800px){
    .name-header{
        padding: 1.7rem 2rem;
    }

    .name-header > *:first-child{
        display: block;
    }

    .name-header h2{
        font-size: 2rem;
    }
    
    .name-header h5{
        font-size: 1.4rem;
    }

    .main-body{
        padding: 0 0 2rem 0;
    }

    .main-body .control-head{
        position: fixed;
        padding: 0;
        width: auto;
        height: 100vh;
        min-width: 180px;
        margin-top: -2rem;
        margin-left: calc(-2.8rem - 180px);
        /* border: 1px solid saddlebrown; */
    }
    .control-head .navigation{
        box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.43);
    }

    .main-body .control-body{
        width: 100%;
        padding: 0;
        margin: auto;
    }

    #profile-section{
        padding: 0px;
    }

    #profile-section .container{
        flex-direction: column;
        align-items: center;
        margin-bottom: 3.0rem;
        padding: 1rem;
        border-radius: 0;
        background-position: 0%;
        background-image: linear-gradient(to right, rgba(207, 7, 84, 0.6), rgba(180, 49, 1, 0.8)), url("../assets/images/images (10).jpeg");
        /* background-image: linear-gradient(rgba(200, 120, 100, 0.5), rgba(100, 200, 100, 0.3)), url("../assets/images/art-artistic-background-2.jpg"); */
    }

    #profile-section .container img{
        border: 0.4rem solid #fbfbfb;
        width: 13rem;
        height: 12rem;
        /* box-shadow: 0 0 1rem 8px rgba(255, 68, 0, 0.67); */
        /* animation: pan 1s ease 1s infinite alternate both; */
        margin: 1.8rem auto;
    }

    #profile-section [data-display-name]{
        text-align: center;
    }

    #profile-section [data-user-status]{
        vertical-align: middle;
    }

    #profile-section .edit-btn{
        text-transform: capitalize;
        margin-left: 0;
        margin-top: 2.0rem;
        margin-bottom: -3.0rem;
        padding: 1.1rem 2.5rem;
        border-radius: 5vh;
        font-size: 1.5rem;
        /* font-weight: bold; */
        background-color: #f0f0f2;
        box-shadow: 2px 2px 3px rgba(235, 66, 4, 0.55);
        color: rgb(226, 32, 6);
    }

    #profile-section .container > :nth-child(2){
        text-align: center;
        border-left: none;
        color: #ececec;
    }

    main #profile-form{
        width: 90%;
        margin: 0 auto;
        /* border-radius: 0;  */
    }

    #profile-form .broken-fields{
        flex-direction: column;
    }

    /* #profile-form img#user-picture{
        width: 24vw;
        height: 24vw;
        border-radius: 30% 50% 50% 50%;
    } */
}