*{
    box-sizing: border-box; 
}

html{
    font-size: 62.5%;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fcfcff;
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
}

header a:link{
    text-decoration: none;
}

main{
    padding: 0.9rem;
}

ul{
    padding: 0;
}

button:hover, input[type="submit"]:hover, a:link:hover, header [class="icofont-navigation-menu"]{
    cursor: pointer;
}

form .serror{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.3rem;
    border-radius: 5vh 5vh;
    /* border: 1px solid rgba(158, 38, 48, 0.7); */
    background-color: rgba(255, 140, 26, 0.4);
    width:100%;
    height:auto;
    text-align:center;
    margin: 0.7rem auto 3rem auto;
    padding: 0.8rem;
}

.serror, .serror *{
	color: rgb(165, 80, 0);
}

.serror [class^="icofont-"]{
    font-size: 1.6rem;
    margin-right: 0.6rem; 
}

.link-btn{
    text-decoration: none;
    padding: 1rem;
}

.strip-btn{
    border: none;
    background-color: transparent;
    color: black;
    padding: 1rem;
}

.drop-content{
    display: none;
    flex-wrap: wrap;
    z-index: +10;
    position: absolute;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

.drop-content li{
    padding: 5px;
}

.drop-container:hover{
    cursor: pointer;
}

.drop-container:hover .drop-content{
    display: block;
}

.rows{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-flex;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-flex;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.fill-container{
    width: 100%;
}

.lg-5{
    width: 5%;
}

.lg-10{
    width: 10%;
}

.lg-15{
    width: 15%;
}

.lg-20{
    width: 20%;
}

.lg-25{
    width: 25%;
}

.lg-30{
    width: 30%;
}

.lg-35{
    width: 35%;
}

.lg-40{
    width: 40%;
}

.lg-50{
    width: 50%;
}

.lg-60{
    width: 60%;
}

.lg-100{
    width: 100%;
}

.broken-fields > *:not(:first-child){
    margin-left: 1%;
}

.pagination{
    box-sizing: border-box;
    /* display: inline-block; */
    /* width: auto; */
    justify-content: center;
    bottom: 0;
    margin: 0 auto;
    /* border: 1px solid salmon; */
}

.pagination > *{
    margin: 0.1rem 0.5rem;
    padding: 0.5rem 0.7rem;
    font-size: 1.1rem;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    /* border: 1px solid #aaa; */
}

.pagination > *:hover{
    transform: scale(1.3);
    cursor: pointer;
    border: 1px solid #aaa;

}

.pagination .active-page{
    background-color: dodgerblue;
    color: white;
}

footer{
    width: 100%;
    min-height: 10rem;
    /* border: 1px solid salmon; */
    margin-top: 3.5rem; 
    padding: 1% 2%;
    font-size: 1.2rem;
}

footer a:link{
    margin: 0.5rem 0;
    text-decoration: none;
}

footer a:link, footer a:visited{
    color: #888;
}

footer .heading{
    color: #555;
    font-size: 1.3rem;
    margin-bottom: 1.5rem; 
    font-weight: bold;
}

footer > *{
    width: 100%;
    margin: 1rem;
}

footer .links{
    margin: auto;
    width: auto;
}

footer .links > *{
    margin: 1rem; 
}

footer > *:last-child *{
    color: #888;
    justify-content: center;
}

.lazy-loading{
    animation: lazy-loading 1.1s ease-out 0s infinite normal forwards;
}

#no-item{
    color: #ccc; 
    font-size: 1.8rem;
}

.strip-link{
    text-decoration: none;
}

.response-display{
    position: fixed;
    z-index: +100;
    top: -10rem;
    left: 0;
    width: 100%;
    padding: 1.5rem;
    font-size: 1.3rem;
    text-align: center;
    color: white;
    background-color: green;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.61);
    transition: all 0.6s ease;
}

@media only screen and (max-width:800px){
    form .serror{
        font-size: 1.2rem;
        border-radius: 2px;
        text-align:center;
        margin: 0.7rem auto 2rem auto;
        padding: 1rem;
    }
    
    .serror [class^="icofont-"]{
        font-size: 1.5rem;
        margin-right: 1rem; 
    }

    #no-item{
        font-size: 1.5rem;
    }

    .response-display{
        padding: 1rem;
        font-size: 1.2rem;
    }
}

@-webkit-keyframes lazy-loading{
    0%, 60%, 70%, 80%, 90%, 100%{
        background-image: linear-gradient(#ccc, #ccc);
    }

    15%{
        background-image: linear-gradient(135deg, #ccc 10%,  #d0d0d0 25%, #ccc 40%);
    }

    30%{
        background-image: linear-gradient(135deg, #ccc 35%,  #d0d0d0 50%, #ccc 65%);
    }

    55%{
        background-image: linear-gradient(135deg, #ccc 60%,  #d0d0d0 75%, #ccc 90%);
    }
}

@-moz-keyframes lazy-loading{
    0%, 60%, 70%, 80%, 90%, 100%{
        background-image: linear-gradient(#ccc, #ccc);
    }

    15%{
        background-image: linear-gradient(135deg, #ccc 10%,  #d0d0d0 25%, #ccc 40%);
    }

    30%{
        background-image: linear-gradient(135deg, #ccc 35%,  #d0d0d0 50%, #ccc 65%);
    }

    55%{
        background-image: linear-gradient(135deg, #ccc 60%,  #d0d0d0 75%, #ccc 90%);
    }
}

@keyframes lazy-loading{
    0%, 60%, 70%, 80%, 90%, 100%{
        background-image: linear-gradient(#ccc, #ccc);
    }

    15%{
        background-image: linear-gradient(135deg, #ccc 10%,  #d0d0d0 25%, #ccc 40%);
    }

    30%{
        background-image: linear-gradient(135deg, #ccc 35%,  #d0d0d0 50%, #ccc 65%);
    }

    55%{
        background-image: linear-gradient(135deg, #ccc 60%,  #d0d0d0 75%, #ccc 90%);
    }
}