.pagination{
    display: none;
}

.control-body .item{
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 16rem;
    border: 1px solid #d9d9d9;
    margin: 0.7rem 0;
}

.control-body .item img{
    padding: 0.1rem;
    width: 18rem;
    height: 100%;
    object-fit: contain;
    background-color: var(--bg-image-color);
    border: var(--image-border);
}

.control-body .item div.info{
    position: relative;
    padding: 0.5rem 1rem;
    width: 100%;
}

.item div.info .top{
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
}

.item .top .item-brand{
    text-transform: capitalize;
    font-size: 1.1rem;
    padding: 0.3rem 1rem;
    background-color: #ddd;
    color: #888;
}

.item .top button{
    padding: 0.5rem;
    font-size: 1.3rem;
}

.control-body .item .item-name{
    font-weight: 400;
    text-align: left;
    font-size: 1.4rem;
    /* width: 50%; */
    padding-top: 0.3rem;
    height: auto;
}

.control-body .item .item-price{
    font-weight: bold;
    padding-top: 1rem;
    font-size: 1.5rem;
    color: #444;
}

.control-body .item .item-controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 1rem;
}

.item .item-controls button{
    background-color: rgb(255, 153, 0);
    color: white;
    text-transform: capitalize;
    border: none;
    overflow: hidden;
    border-radius: 3px;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding: 1rem 3rem;  
}

.dummy.item{
    position: relative;
}

.dummy.item *{
    display: block;
}

.dummy.item img, .dummy.item .item-name, .dummy.item .item-number > *, .dummy.item .item-buttons > *{
    background-color: #ccc;
    animation: lazy-loading 1.1s ease-out 0s infinite normal forwards;
    background-position: 50%;
    background-repeat: no-repeat;
}

.dummy.item .item-name, .dummy.item .item-number > *, .dummy.item .item-buttons > *{
    padding: 0.5rem;
}

.dummy.item img{
    width: 18%;
}

.dummy.item div:last-child{
    width: 82%;
    padding: 1rem;
}

.dummy.item .item-name{
    padding: 0.6rem;
    width: 60%;
}

.dummy.item .item-number{
    width: 40%;
}

.dummy.item .item-number > *{
    margin: 0.6rem 0;
}

.dummy.item .item-buttons{
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-top: 1rem;
}

.dummy.item .item-buttons > *{
    width: 40%;
    padding: 1.4rem;
    margin: 0.3rem 5% 0.3rem 0;
    border-radius: 5vmin
}

[class$="bg-cover"]{
    display: flex !important;
    z-index: +200;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.459);
    top: -120vmax;
    left: 0;
    transition: all 0.6s ease;
}

[class$="popup-box"]{
    overflow-y: auto;
}

[class$="popup-box"] fieldset{
    border: 1px solid #ddd; 
    margin-top: 2rem; 
    margin-bottom: 0.8rem;
    padding: 1rem;
}

[class$="popup-box"] legend{
    color: orangered;
    font-weight: 500;
    font-size: 1.1rem;
}

[class$="popup-box"] .close-btn{
    float: right;
    vertical-align: middle;
    font-size: 1.5rem;
}

[class$="popup-box"] .total-fees{
    margin: 2rem auto;
    font-size: 1.4rem;
    align-items: flex-end;
    width: inline-block;
    margin-left: auto;
}

[class$="popup-box"] .total-fees .fee-item{
    width: 100%;
    /* border: 1px solid red; */
    justify-content: space-between;
    margin-bottom: 1rem;
}

[class$="popup-box"] .fee-item .fee{
    font-size: 1.3rem;
}

[class$="popup-box"] .fee-item .fee-title{
    color: #777;
    font-weight: 500;
    text-transform: uppercase;
}


[class$="popup-box"] .fee-item .fee.normal{
    font-weight: 500;
    color: #111;
}

[class$="popup-box"] .fee-item .fee.credit{
    color: rgb(24, 170, 24);
}

[class$="popup-box"] .fee-item .fee.debt{
    color: dodgerblue;
}

[class$="popup-box"] .promo-tab{
    justify-content: space-between;
    margin-top: 3rem;
    border-radius: 5px;
    /* border: 1px solid sandybrown; */
    width: 100%;
    background-color: #efefef;
}

[class$="popup-box"] #promo-container .promo-item{
    margin-bottom: 1rem;
    padding: 1rem;
    color: green;
    background-color: rgba(101, 221, 101, 0.5);
    justify-content: space-between;
}

[class$="popup-box"] #promo-container .promo-item button{
    padding: 0 1rem;
}

[class$="popup-box"] .input-tab{
    justify-content: space-between;
    border-radius: 5px;
    width: 100%;
}

[class$="popup-box"] .input-tab input[type="text"]{
    box-sizing: border-box;
    border: none;
    background-color: #efefef;
    width: calc(100% - 3rem);
    padding: 1.5rem 2rem;
    outline: none;
}

[class$="popup-box"] .promo-tab button{
    
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    /* width: 20%; */
    padding: 1.5rem 2rem;
    color: orange;
}

[class$="popup-box"] .sum-total{
    align-items: baseline;
    margin-top: 1.5rem;
    font-weight: 500;
    font-size: 1.8rem;
    color: black;
    width: 100%;
    justify-content: space-between;
    text-transform: capitalize;
}

[class$="popup-box"] .sum-total *:nth-child(2){
    color: #ff8b1e;
    font-size: 2.1rem;
    font-weight: 400;
}

[class$="popup-box"] #confirm-payment-btn{
    width: 100%;
    padding: 1.5rem 4.5rem;
    border-radius: 5px;
    background-color: #ec4102;
    color: white;
    margin-top: 2rem;
}

[data-pay-btn]{
    display: none;
    position: sticky;
    bottom: 1rem;
    font-size: 1.5rem;
    width: 90%;
    color: white;
    text-align: center;
    margin: 1rem;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgb(184, 49, 0), rgb(184, 0, 0), rgb(184, 49, 0));
    box-shadow: 1px 2px 2px #e0e0e0;
}

footer{
    background-color: #eee;
}

.clicked{
    outline: none;
    background-color: #bdbdbd !important;
    color: #888 !important;
}

.clicked:hover{
    cursor: not-allowed;
}

@media only screen and (max-width:800px){
    .control-body .item{
        overflow: hidden;
        width: 100%;
        min-height: 15rem;
        border: none;
        border-top: 1px solid #eee;
        margin: 0;
        padding-bottom: 1.5rem;
    }
    
    .control-body .item img{
        height: 100%;
        width: 13rem;
        object-fit: contain;
        background-color: #eee;
    }
    
    .control-body .item div.info{
        padding: 0.6rem 1rem;
    }
    
    .control-body .item .item-name{
        line-height: 1.5;
        font-size: 1.5rem;
        color: #333;
    }
    
    .control-body .item .item-price{
        padding-top: 0rem;
        margin-top: 0.5rem;
        font-size: 1.3rem;
    }
    
    .control-body .item .item-controls{
        bottom: 0.3rem;
    }
    
    .item .item-controls button{
        background-color: rgb(255, 153, 0);
        border-radius: 3px;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        padding: 1rem 3rem;
    }

    .dummy.item img{
        width: 35%;
    }
    
    .dummy.item div:last-child{
        width: 65%;
    }

    .dummy.item .item-name{
        width: 90%;
    }
    
    .dummy.item .item-number{
        width: 70%;
    }
    
    .dummy.item .item-buttons{
        width: 70%;
    }

    [class$="bg-cover"] > *{
        width: 95vw;
        min-height: 80vh;
        overflow: auto;
        padding: 2rem;
        margin: 0;
        transform: translateY(12%);
    }

    [class$="popup-box"] .total-fees{
        margin: 3rem auto;
        font-size: 1.2rem;
    }
    
    [class$="popup-box"] .total-fees .fee-item{
        margin-bottom: 1rem;
    }
    
    [class$="popup-box"] .fee-item .fee{
        font-size: 1.12rem;
    }
    
    [class$="popup-box"] .promo-tab{
        margin-top: 2rem;
        border-radius: 3px;
    }
    
    [class$="popup-box"] .promo-tab input[type="text"]{
        padding: 1.5rem 2rem;
    }
    
    [class$="popup-box"] .promo-tab button{
        padding: 1.5rem 2rem;
    }
    
    [class$="popup-box"] .sum-total{
        margin-top: 3rem;
        font-size: 1.5rem;
    }
    
    [class$="popup-box"] .sum-total *:nth-child(2){
        /* color: white; */
        font-size: 2.1rem;
        font-size: 5.1vw;
        font-weight: 400;
        padding: 0;
        border: none;
    }

    /* [class$="popup-box"] .sum-total *:nth-child(2){
        color: #ff8b1e;
        font-size: 1.5rem;
        font-weight: 600;
        border: 2px solid #ff8b1e;
        padding: 0.8rem 1.6rem;
        border-radius: 5px;
        /* background-color: #ffb01e;
        box-shadow: 1px 1px 2px rgba(7, 7, 7, 0.15);
        border-bottom: 2px solid orangered; 
    } */
    
    [data-pay-btn]{
        font-size: 1.5rem;
        width: 95%;
        margin: 1rem auto;
        border-radius: 5px;
        box-shadow: 1px 2px 2px #e0e0e0;
    }
}