*{
    box-sizing: border-box;
}

body{
    background-color: #f2f2f5;
    overflow-x: hidden;
}

#modifiers, #modifiers-content{
    align-items: center;
    background-color: #fcfcff;
    font-size: 1.2rem;
}

#modifiers{
    /* justify-content: ; */
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.13);
    /* padding: 0.5rem 1rem; */
}

#modifiers-content{
    padding: 0.5rem 0.7rem;
}

#modifiers-content button, #modifiers button{
    border: none;
    padding: 8px 24px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#modifiers [data-filter-tab]{
    padding: 1.6rem 2rem;
    width: 25%;
    justify-content: space-between;
    text-transform: capitalize;
    align-items: center;
    background-color: #f5f5f5;
    color: rgb(22, 22, 22);
    border-radius: 2px;
    border-right: 1px solid #bbb;
}

#modifiers [data-filter-tab]:last-child{
    border-right: none;
}

#modifiers [data-filter-tab]:active{
    background-color: rgba(73, 164, 255, 0.25);
}

#modifiers [data-filter-tab]:hover{
    cursor: pointer;
}

#modifiers + #modifiers-content{
    display: none;
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 5%);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
    /* border-radius: 5px; */
}

main{
    min-height: 80vh;
}

main h1, .pane .section-head h3{
    font-weight: 500;
}

main h1 > *{
    color: #111;
}

#query{
    text-transform: capitalize;
    color: orangered;
}

.pane{
    padding: 0.5rem;
    margin-top: 1rem;
}

.pane .section-head{
    justify-content: space-between;
}

.pane .section-head h3{
    text-transform: uppercase;
    font-size: 1.5rem;
}

.pane .section-body{
    width: 100%;
    overflow-y: auto;
    height: auto;
    overflow: auto;
    background-color: #f2f2f5;
}

.pane .section-body .slider{
    width: auto;
    flex-wrap: wrap;
}

#item-container{
    display: flex;
    flex-direction: row;
    min-height: auto;
}

#item-container a:link, #item-container a:visited{
    color: black;
}

.item{
    display: flex;
    flex-direction: row;
    width: 48%;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(20, 20, 40, 0.15);
    background-color: #fafafc; 
    text-decoration: none;
    margin: 1rem 0.8rem;
    overflow: hidden;
}

.item > *{
    height: 100%;
    font-size: 1.5rem;
}

.item img{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../assets/images/nullimg.png");
    background-color: rgba(222, 222, 223, 0.85);
    width: 20rem;
    max-height: 16rem;
    min-height: 100%;
    object-fit: contain;
}

.item .item-name{
    text-align: center;
    font-size: 1.5rem;
    /* width: 100%; */
    margin-right: auto;
    padding: 1rem;
    padding-bottom: 0.2rem;
}

.item-name > *:first-child{
    /* font-weight: 500; */
    text-transform: uppercase;
    padding-bottom: 0.3rem;
    line-height: 1.5;
}

.item .item-name > *, .item .item-control > *{
    text-align: left;
    margin-left: 1rem;
}

.item .item-name > *:last-child{
    font-size: small;
    text-align: left;
    color: #9f9fa0;
    margin-top: 0.5rem;
}

.item .item-name > *:last-child::first-letter{
    text-transform: uppercase;
}

.item .item-control{
    /* border: 1px solid red; */
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    font-size: 1.5rem;
    margin-right: auto;
    padding: 0.5rem 1rem;
}

.item .item-number{
    font-weight: bold;
    text-align: right;
    color: #333;
    padding-top: 1rem;
    margin-right: 2rem;
    /* height: 100%; */
}

.item .item-buttons{
    justify-content: space-between;
    /* align-items: flex-start; */
    padding: 1rem;
}

.item .item-buttons button{
    /* display: block; */
    z-index: +10;
    text-transform: capitalize;
    border: none;
    background-color: #f9f9f9;
    color: rgb(255, 153, 0);
    height: 100%;
    overflow: hidden;
    font-size: 1.3rem;
    margin: 0 0.45rem;
    padding: 1rem 3rem;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.26);
}

.item-buttons button [class*='icofont']{
    color: rgb(255, 153, 0);
}

.item .item-buttons button:first-child{
    font-size: 1.4rem;
    border: 1px solid orange;
    background-color: orange;
    color: #fff;
}

.dummy.item{
    position: relative;
    align-items: center;
    background-color: #ececec;
}

.dummy.item .bottom-wrapper{
    justify-content: space-between;
}

.dummy.item img{
    margin: 0;
    height: 15rem;
}

.dummy.item > *:last-child{
    /* border: 1px solid red; */
    margin-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
}

.dummy.item img, .dummy.item .item-name, .dummy.item .item-desc, .dummy.item .item-price, .dummy.item .item-buttons > *{
    background-color: #ccc;
    animation: lazy-loading 1.1s ease-out 0s infinite normal forwards;
    background-position: 50%;
    background-repeat: no-repeat;
}

.dummy.item .item-name, .dummy.item .item-desc, .dummy.item .bottom-wrapper, .dummy.item .item-price, .dummy.item .item-buttons > *{
    padding: 0.8rem;
    width: 100%;
}

.dummy.item .item-name{
    margin-bottom: 1rem;
    width: 80%;
}

.dummy.item .item-desc{
    width: 50%;
}

.dummy.item .item-price{
    margin-top: 1rem;
    height: 25%;
    width: 20%;
}

.dummy.item .item-buttons{
    width: 50%;
    margin-top: 0;
}

.dummy.item .item-buttons > *{
    padding: 2rem 1.4rem;
    margin-left: 0.6rem;
    border-radius: 5px
}

#no-item{
    align-items: center;
    font-style: italic;
    color: #888;
    font-size: 1.6rem;
    margin: 1rem auto 5vmin;
    max-width: 90%;
}

#no-item img{
    margin: 2rem auto 1rem;
    border-radius: 50%;
    width: auto;
    height: 15rem;
    object-fit: contain;
    box-shadow: 0px 2px 3px #ddd;
    opacity: 0.7;
}


@media only screen and (max-width:850px){
    main h1{
        font-size: 1.7em;
    }

    #modifiers [data-filter-tab]{
        width: 50%;
    }

    #item-container{
        flex-direction: column;
    }

    .item{
        flex-direction: row;
        width: 99%;
        border-radius: 5px;
        margin: 0.7rem 0.5rem;
    }

    .item img{
        /* display: block; */
        width: 13rem;
        min-width: 13rem;
        height: 18rem;
        margin: auto;
        background-color: #eee;
        border: 1px solid #dfdfdf;
        border-right: none;
    }

    .item > *{
        font-size: 1.3rem !important;
    }

    .item img + span{
        margin-left: auto;
    }

    .item .item-name{
        text-align: center;
        font-size: 1.25rem;
        margin-right: auto;
        padding: 1rem;
    }

    .item .item-name > *:last-child{
        max-height: 3.2rem;
        white-space: pre-line;
        text-overflow: clip;
        overflow: hidden;
    }

    .item .item-control{
        flex-direction: column;
        align-items: flex-start;
        font-size: 1.3rem;
    }

    .item .item-buttons{
        padding: 0.5rem 0;
        margin-left: 0;
    }

    .item .item-buttons button, .item .item-buttons button [class^="icofont-"]{
        font-size: 1.2em;
    }

    .item .item-buttons button{
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
        padding: 0.7rem 1.8rem;
        height: 100%;
    }
    
    .dummy.item{
        width: 97%;
    }
}