
*{
    box-sizing: border-box;
}

body{
    background-color: #f2f2f5;
    overflow-x: hidden;
}

main{
    padding: 0;
    padding-top: 5px;
}

.bg-image-container{
    width: 100%;
    min-height: calc(100vh - 14rem);
    background-color: #eaeaec;
    background-image: linear-gradient(135deg, rgba(167, 62, 1, 0.86) 40%, rgba(30, 143, 255, 0.74) 40%);
    background-image: url("../assets/images/warm-save-wallpaper-dark-texture_1258-284.jpg");
    background-size: cover;
    background-position: center;
    transition: all 0.6s linear;
    justify-content: center;
    align-items: center;
}

.card-container{
    display: flex;
    margin: 3rem auto;
    box-shadow: 5px 7px 3px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 5px;
}

.product-card{
    width: 40vw;
    padding: 4rem;   
    text-transform: uppercase;
    background-color: #fcfcff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card .product-name{
    line-height: 1.3;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.product-card .product-short-desc{
    line-height: 1.5;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: #aaa;
}

.product-card .product-img{
    border-radius: 5px;
    background-image: none;
    width: 100%;
    height: 25vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0.8rem auto;
    transition: all 0.2s linear;
}

.product-card .product-nav{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.product-card .product-nav > *{
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ccc;
    margin: 5px 1rem;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.product-card .product-nav .active{
    background-color: #e7cb28;
}

.product-card .product-nav .active::after{
    content: "";
    width: 2.1rem;
    height: 2.1rem;
    border: 2px solid #e7cb28;
    border-radius: 50%;
    position: absolute;
    box-sizing: border-box;
    left: -0.3rem;
    top: -0.3rem;
    transition: all 0.3s linear;
}

.product-card .product-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    padding: 2rem 4rem;
    text-transform: uppercase;
    background-color: #010916;
}

.info-card *{
    color: #fcfcff;
}

.info-card .product-price{
    color: #e7cb28;
    font-size: 1.6rem;
}

.info-card .discount-label{
    display: none;
    position: absolute;
    background-color: rgb(175, 2, 2);
    color: #eee;
    text-align: center;
    transform: rotateZ(45deg);
    padding: 0.6rem;
    width: 20rem;
    top: 3rem;
    left: 87%;
    font-size: 1.3rem;
    box-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.info-card .product-controls{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    /* border: 1px solid sandybrown; */
}

.product-controls button, .product-controls button *{
    transition: all 0.3s ease-out;
}

.product-controls button{
    color: #ccc;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    /* background-color: orangered; */
    border-radius: 3px;
    padding: 1rem 2.4rem;
    margin: 5px auto;
    width: 40%;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

.product-controls button:last-child{
    font-weight: bold;
    color: #010916;
    border: 1px solid #f3cb1b;
    background-color: #e7cb28;
}

.product-controls button:last-child *{
    color: #010916;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.product-controls button:hover{
    transform: scale(0.99);
    background-color: orange;
    color: white;
    border-color: orange;
    /* font-weight: bold; */
}

.product-controls button:hover *{
    color: white;
}

.tab-wrapper .nav-tabs{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.info-card .nav-tab{
    font-size: 1.2rem;
    display: block;
    padding: 0.8rem 1.5rem;
    color: #626264;
    border-bottom: 2px solid #626264;
}

.info-card .nav-tab:hover{
    cursor: pointer;
}

.nav-tab.active{
    color: #f2f2f5;
    border-bottom-color: #f2f2f5;
}

.tab-wrapper .tab-content{
    line-height: 2;
    font-size: 1.1rem;
}

.tab-content .content{
    display: none;
    color: #ddd;
    text-transform: none;
    font-size: 1.3rem;
    font-weight: lighter;
    line-height: 1.5;
}

.tab-content .content.active{
    display: flex;
}        

.info-card .pref-options{
    margin-top: 2rem;
    align-items: center;
    flex-wrap: wrap;
}

.pref-options > *{
    margin: 0.5rem auto 1rem;
}

.pref-options .opt{
    /* border: 1px solid #222; */
    margin-right: 1rem;
}

.pref-options > * .opt{
    text-align: center;
}

.pref-options > *:nth-child(2) .opt:first-child{
    width: 30%;
}

.pref-options > *:nth-child(2) .opt:nth-child(2){
    width: calc(70% - 1rem);
    margin-right: 0;
}

.pref-options .opt.total{
    
}

.pref-options .opt-label{
    text-transform: uppercase;
    margin-left: 2px;
    margin-bottom: 5px;
    color: #ccc;
}

.pref-options select, .pref-options input, .total-input{
    display: block;
    height: 100%;
    background-color: #00010f;
    border: none;
    padding: 0.8rem 1rem;
    color: #ddd;
    font-size: 1.3rem;
    outline: none;
    text-align: center;
}

.pane{
    padding: 1rem 2rem;
    margin-top: 3rem;
    background-color: #fbfbfd;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #dfdfe4;
}

.pane .section-head{
    padding: 0 1rem;
    justify-content: space-between;
}

.pane .section-head h3{
    font-size: 1.6rem;
    margin: 2rem 0;
    padding-top: 1rem;
}

.pane .section-head > *{
    color: #444;
    text-transform: uppercase;
}

.pane .section-head > *:last-child{
    margin: auto 0;
}

.pane .section-body{
    width: 100%;
    overflow-y: auto;
    height: auto;
    overflow: auto;
    background-color: transparent;
    padding: 2.5rem 0.6rem 1rem;
}

@media only screen and (max-width:800px){
    header{
        padding: 0.9rem 1rem;
    }

    main{
        padding-top: 5px;
    }

    .bg-image-container{
        height: auto;
    }

    .card-container{
        width: 100%;
        flex-direction: column;
        box-shadow: none;
        border-radius: 0;
        margin: auto 0;
    }

    .product-card, .info-card{
        width: 100%;
        padding: 2vh 5vw;
    }

    .product-card .product-img{
        border-radius: 5px;
        background-image: none;
        width: 100%;
        min-height: 200px;
        height: calc(70vw - 0.8rem);;
        background-size: contain;
        background-position: center;
        margin: 0.6rem auto;
    }

    /*  */
    .product-card .product-name{
        font-size: 1.7rem;
        margin-bottom: 0.5rem;
    }

    .product-card .product-short-desc{
        margin-top: 0.5rem;
        font-size: 1.2rem;
    }

    .product-card .product-nav{
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }

    .product-card .product-nav > *{
        width: 1rem;
        height: 1rem;
        margin: 5px 0.95rem;
    }

    .product-card .product-nav .active::after{
        width: 1.8rem;
        height: 1.8rem;
        left: -0.4rem;
        top: -0.4rem;
    }

    .info-card .product-price{
        font-size: 1.3rem;
    }

    .info-card .discount-label{
        background-color: rgba(175, 2, 2, 0.65);
        color: #ccc;
        transform: unset;
        padding: 0.5rem;
        width: auto;
        top: unset;
        left: 30%;
        margin-top: 4rem;
        /* bottom: 55%; */
        font-size: 1rem;
        box-shadow: none;
    }

    .tab-wrapper{
        margin-top: 4rem;
        margin-bottom: 1.5rem;
    }

    .tab-wrapper .nav-tabs{
        margin-bottom: 1.8rem;
    }

    .info-card .nav-tab{
        font-size: 1.2rem;
        padding: 0.8rem 1.5rem;
    }

    .tab-wrapper .tab-content{
        font-size: 1.3rem;
    }

    .pref-options{
        margin-bottom: 3rem;
    }

}