
*{
    box-sizing: border-box;
}

body{
    background-color: #f2f2f5;
    overflow-x: hidden;
}

main{
    padding: 0;
    padding-top: 5px;
}

.bg-image-container{
    width: 100%;
    min-height: calc(100vh - 14rem);
    background-color: #e3e3e4;
    background-size: cover;
    background-position: center;
    transition: all 0.6s linear;
    justify-content: center;
    align-items: center;
}

.card-container{
    margin: 3rem auto;
    overflow: hidden;
    border-radius: 5px;
}

.product-card{
    width: 40vw;
    padding: 4rem;   
    text-transform: uppercase;
    background-color: #fcfcff;
    justify-content: space-between;
}

.product-card .product-name{
    line-height: 1.3;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.product-card .product-short-desc{
    line-height: 1.5;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: #aaa;
}

.product-card .product-img{
    border-radius: 5px;
    background-image: none;
    width: 100%;
    height: 25vw;
    background-image: url("../assets/images/art-artistic-background-2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0.8rem auto;
    transition: all 0.2s linear;
}

.product-card .product-img {
    justify-content: center;
    align-items: center;
}

.product-card .product-img .slider-buttons{
    width: 100%;
    height: auto;
    justify-content: space-between;
}

.product-card .product-img .slider-buttons button{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-color: #ccc;
    border: none;
    opacity: 0.5;
    font-size: 1.2rem;
    transition: opacity 0.3s ease;
}

.product-card .product-img .slider-buttons button:hover{
    opacity: 0.9;
}

.product-card .product-nav{
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    flex-wrap: nowrap;
}

.product-card .product-nav > *{
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ccc;
    margin: 5px 1rem;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.product-card .product-nav .active{
    background-color: #e7cb28;
}

.product-card .product-nav .active::after{
    content: "";
    width: 2.1rem;
    height: 2.1rem;
    border: 2px solid #e7cb28;
    border-radius: 50%;
    position: absolute;
    box-sizing: border-box;
    left: -0.3rem;
    top: -0.3rem;
    transition: all 0.3s linear;
}

.product-card .product-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    padding: 2rem 4rem;
    text-transform: uppercase;
    background-color: #fcfcff;
}

.info-card *{
    color: #010916;
}

.info-card .price-container{
    align-items: center;
    justify-content: space-between;
}

.info-card .product-price{
    color:  #010916;
    font-size: 3rem;
}

.info-card .discount-label{
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 25, 0);
    color: #eee;
    text-align: center;
    border-radius: 5vh;
    padding: 1rem;
    width: 40%;
    font-size: 1.3rem;
}

.info-card .product-controls{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    /* border: 1px solid sandybrown; */
}

.product-controls button, .product-controls button *{
    transition: all 0.3s ease-out;
}

.product-controls button{
    display: block;
    background-color: transparent;
    color: #010916;
    border-radius: 5vh;
    border: 2px solid #010916;
    margin: 5px auto;
    width: 40%;
    max-width: 22rem;
    padding: 1.5rem 2rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.2s linear;
}

.product-controls button:last-child{
    border: 2px solid orange;
    background-color: orange;
    box-shadow: 1px 2px 4px rgb(136, 136, 136);
}

.product-controls button:last-child:not(:hover){
    animation: bounce 2.5s ease-out 10s infinite backwards normal;
}

.product-controls button:hover{
    transform: scale(0.99);
    background-color: orange;
    color: white;
    border-color: orange;
    box-shadow: 1px 2px 4px rgb(136, 136, 136);
}

.tab-wrapper .nav-tabs{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.info-card .nav-tab{
    font-size: 1.2rem;
    display: block;
    padding: 0.8rem 1.5rem;
    /* color: ; */
    color: #acacac;
    /* border-bottom: 2px solid #acacac; */
}

.info-card .nav-tab:hover{
    cursor: pointer;
}

.nav-tab.active{
    color: #010916;
    border-bottom: 2px solid #010916;
}

.tab-wrapper .tab-content{
    line-height: 2;
    font-size: 1.1rem;
}

.tab-content .content{
    display: none;
    color: #ddd;
    text-transform: none;
    font-size: 1.3rem;
    font-weight: lighter;
    line-height: 1.5;
}

.tab-content .content.active{
    display: flex;
}        

.info-card .pref-options{
    margin-top: 2rem;
    align-items: center;
    flex-wrap: wrap;
}

.pref-options > *{
    margin: 0.5rem auto 1rem;
}

.pref-options .opt{
    /* border: 1px solid #222; */
    margin-right: 1rem;
}

.pref-options > * .opt{
    text-align: center;
}

.pref-options .opt-label{
    text-transform: uppercase;
    margin-left: 2px;
    margin-bottom: 3px;
    color: #aaa;
}

.pref-options select, .pref-options input, .total-input{
    display: block;
    text-align: center;
    margin-top: 1rem;
    border: 1px solid #cce;
    border-radius: 3px;
    width: 30%;
    min-width: 150px;
    padding: 1rem;
}

.pane{
    padding: 1rem 2rem;
    margin-top: 3rem;
    background-color: #fbfbfd;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #dfdfe4;
}

.pane .section-head{
    padding: 0 1rem;
    justify-content: space-between;
}

.pane .section-head h3{
    font-size: 1.6rem;
    margin: 2rem 0;
    padding-top: 1rem;
}

.pane .section-head > *{
    color: #444;
    text-transform: uppercase;
}

.pane .section-head > *:last-child{
    margin: auto 0;
}

.pane .section-body{
    width: 100%;
    overflow-y: auto;
    height: auto;
    overflow: auto;
    background-color: transparent;
    padding: 2.5rem 0.6rem 1rem;
}

@media only screen and (max-width:800px){
    header{
        padding: 0.9rem 1rem;
    }

    main{
        padding-top: 5px;
    }

    .bg-image-container{
        height: auto;
    }

    .card-container{
        width: 100%;
        flex-direction: column;
        box-shadow: none;
        border-radius: 0;
        margin: auto 0;
    }

    .product-card, .info-card{
        width: 100%;
        padding: 2vh 5vw;
    }

    .product-card .product-img{
        border-radius: 5px;
        background-image: none;
        width: 100%;
        min-height: 200px;
        height: calc(70vw - 0.8rem);;
        background-size: contain;
        background-position: center;
        margin: 0.6rem auto;
    }

    /*  */
    .product-card .product-name{
        font-size: 1.7rem;
        margin-bottom: 0.5rem;
    }

    .product-card .product-short-desc{
        margin-top: 0.5rem;
        font-size: 1.2rem;
    }

    .product-card .product-nav{
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }

    .product-card .product-nav > *{
        width: 1rem;
        height: 1rem;
        margin: 5px 0.95rem;
    }

    .product-card .product-nav .active::after{
        width: 1.8rem;
        height: 1.8rem;
        left: -0.4rem;
        top: -0.4rem;
    }

    .info-card .price-container{
        align-items: center;
        justify-content: flex-start;
    }

    .info-card .product-price{
        font-size: 2rem;
    }

    .info-card .discount-label{
        padding: 0.5rem 1rem;
        width: 30%;
        font-size: 1rem;
        margin-left: 3rem;
    }

    .tab-wrapper{
        margin-top: 4rem;
        margin-bottom: 1.5rem;
    }

    .tab-wrapper .nav-tabs{
        margin-bottom: 1.8rem;
    }

    .info-card .nav-tab{
        font-size: 1.2rem;
        padding: 0.8rem 1.5rem;
    }

    .tab-wrapper .tab-content{
        font-size: 1.3rem;
    }

    .pref-options{
        margin-bottom: 3rem;
    }

}

@-webkit-keyframes bounce{
    0%{
        transform-origin: center;
        transform: rotateZ(0deg) translateY(0);
    }

    20%{
        transform-origin: center;
        transform: rotateZ(0deg) translateY(-10px);
    }

    25%{
        transform-origin: center;
        transform: rotateZ(8deg) translateY(-10px);
    }

    30%{
        transform-origin: center;
        transform: rotateZ(-8deg) translateY(-10px);
    }

    35%{
        transform-origin: center;
        transform: rotateZ(8deg) translateY(-10px);
    }

    40%{
        transform-origin: center;
        transform: rotateZ(-8deg) translateY(-10px);
    }

    55%{
        transform-origin: center;
        transform: rotateZ(0deg) translateY(5px);
    }

    65%{
        transform-origin: center;
        transform: rotateZ(0deg) translateY(0);
    }

    100%{
        transform-origin: center;
        transform: rotateZ(0deg) translateY(0);
    }
}

@keyframes bounce{
    0%{
        transform-origin: center;
        transform: rotateZ(0deg) translateY(0);
    }

    20%{
        transform-origin: center;
        transform: rotateZ(0deg) translateY(-10px);
    }

    23%{
        transform-origin: center;
        transform: rotateZ(8deg) translateY(-10px);
    }

    26%{
        transform-origin: center;
        transform: rotateZ(-8deg) translateY(-10px);
    }

    29%{
        transform-origin: center;
        transform: rotateZ(8deg) translateY(-10px);
    }

    32%{
        transform-origin: center;
        transform: rotateZ(-8deg) translateY(-10px);
    }

    40%{
        transform-origin: center;
        transform: rotateZ(0deg) translateY(10px);
    }

    55%{
        transform-origin: center;
        transform: rotateZ(0deg) translateY(0);
    }

    100%{
        transform-origin: center;
        transform: rotateZ(0deg) translateY(0);
    }
}