<footer class="cols">
    <div class="links rows">
        <div class="cols">
            <span class="heading">HELP LINKS</span>
            <a href="/support">Contact Us</a>
            <a href="">About Us</a>
            <a href="">Terms and Conditions</a>
        </div>

        <div class="cols">
            <span class="heading">QUICK LINKS</span>
            <a href="">Log In</a>
            <a href="">About Us</a>
        </div>

        <div class="cols">
            <span class="heading">SOCIAL LINKS</span>
            <a href="">Whatsapp</a>
            <a href="">Twitter</a>
            <a href="">Instagram</a>
            <a href="">Facebook</a>
        </div>
    </div>

    <div class="fill-container">
        <span class="rows"><hr>Copyright &copy; 2019 Univers.com. All rights reserved<hr></span>
    </div>
</footer>